.container {
  display: flex;

}

.cont {
  position: fixed;
}

.dashboard {
  position: relative;
  width: 100%;
  z-index: 0;
}

.topBaseGradients {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20rem;
  overflow: hidden;
  z-index: -1;
}

.topBaseGradients>:nth-child(2) {
  left: 40%;
}

.topBaseGradients>:nth-child(3) {
  right: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header>span {
  font-family: "Public Sans", sans-serif;
}


.header>:nth-child(1) {
  font-size: 1.2rem;
}

.searchBar {
  background-color: rgba(255, 255, 255, 0.496);
  width: 30%;
  max-width: 25rem;
  padding: 1rem 1rem;
  border-radius: 8px;
  height: 2rem;
  display: flex;
  align-items: center;
  border: 2px solid rgb(63, 63, 63);
  justify-content: center;
  gap: 8px;
}

.searchBar>input {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 100%;
}

.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.profile>img {
  height: 50px;
  width: 50px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details>:nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
}

.content {
  margin: auto;
  display: flex;
  height: 100%;
  /* align-items: center; */
  /* uncomment the aic, and make mt -4rem */
  margin-top: 4rem;
}

.content>div {
  width: 100%;
  min-width: 75vh
}

/* logout btn */

.logout {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-size: medium;
  font-weight: 550;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  /* box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1); */
  outline: none;
}

.l_bt {
  background-color: #000000 0.1%;
  line-height: 42px;
  padding: 0;
  border: none;
}

.l_bt span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}


.l_bt:before,
.l_bt:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.4s ease;
}

.l_bt:before {
  height: 0%;
  width: 2px;
}

.l_bt:after {
  width: 0%;
  height: 2px;
}

.l_bt:hover:before {
  height: 100%;
}

.l_bt:hover:after {
  width: 100%;
}

.l_bt:hover {
  background: transparent;
}

.l_bt span:hover {
  color: #c797eb;
}

.l_bt span:before,
.l_bt span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.4s ease;
}

.l_bt span:before {
  width: 2px;
  height: 0%;
}

.l_bt span:after {
  height: 2px;
  width: 0%;
}

.l_bt span:hover:before {
  height: 100%;
}

.l_bt span:hover:after {
  width: 100%;
}